<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Afhentninger denne uge</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="title">Afhentninger denne uge</h1>
    <form class="" action="index.html" method="post">

      <table class="week">
        <thead>
          <tr>
            <td>Uge:</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="day">Mandag</span>
              <textarea name="name" rows="8" cols="80"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Tirsdag</span>
              <textarea name="name" rows="8" cols="80"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Onsdag</span>
              <textarea name="name" rows="8" cols="80"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Torsdag</span>
              <textarea name="name" rows="8" cols="80"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Fredag</span>
              <textarea name="name" rows="8" cols="80"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Lørdag</span>
              <textarea name="name" rows="8" cols="80"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Søndag</span>
              <textarea name="name" rows="8" cols="80"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
