div.wrapper {
  margin: 0 auto;
}

div.center {
  text-align: center;
}

div.dateInput input {
  width: 80px;
}

table.week{
  width: 90%;
  margin: 0 auto;
  border: solid black 1px;
}

h1.title{
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
table thead tr td{
  width: 33%;
}

table.week thead tr td{
  text-align: center;
}
table.week thead tr td:nth-child(1){
  text-align: left;
}
.ta-wrapper{
  margin-right: 5px;
}
.ta-wrapper textarea {
  width: 100%;
}

span.day {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: solid black 1px;
}
