table.week{
  width: 90%;
  margin: 0 auto;
  border: solid black 1px;
}

table thead tr td, h1.title{
  text-align: center;
}

span.day {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: solid black 1px;
}
